<!DOCTYPE html>
<html>
<head>
  <title>ProtoArtslabo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    ul{
      padding-left: 0px;
    }
    li.line{
      list-style-type: none;
    }
  </style>
</head>
<body>

  <ul>
    <li class="line"><%= link_to '機種登録', master_phone_models_path %></li>
    <li class="line"><%= link_to '機種グループ登録', master_phone_groups_path %></li>
    <li class="line"><%= link_to '店舗登録', shops_path %></li>
  </ul>

<%= yield %>

</body>
</html>
